<nav class="navbar navbar-expand-lg navbar-light nav-padding p-0">
  <a class="navbar-brand m-0 p-0" href="/">
    Accounts
  </a>
  <ul class="navbar-nav ml-auto h-100">
    <li class="nav-item active d-flex justify-content-center">
      <a class="nav-link nav-padding align-self-center" href="/">
        Overview
      </a>
    </li>
    <li class="nav-item d-flex justify-content-center">
      <a class="nav-link nav-padding align-self-center" href="/about">
        Reports
      </a>
    </li>
  </ul>
  <button class="more-btn p-0">...</button>
</nav>