<div class="bar-item">
    <div class="row">
        <div class="score-label col-6 color-dark">
            <%= label %>
        </div>
        <div class="score-value col-6 d-flex justify-content-end">
            Ξ<%= score %>K
        </div>        
    </div>
    <div class="progress" style="height: 4px;">
        <div class="progress-bar color-blue" role="progressbar" style="width: <%= percent %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>