body {
  font-family: Inter;
  background-color: #1E1E1E;
}
body * {
  color: #FFFFFF;
}

nav {
  height: 99px;
  background-color: #09090A;
}
nav * {
  color: #FFFFFF !important;
}
nav .navbar-brand {
  position: absolute;
  width: 151px;
  height: 39px;
  left: 25px;
  top: 30px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  font-style: normal;
}
nav .navbar-brand:hover {
  color: #79798C;
}
nav .navbar-nav .nav-item.active {
  border-bottom: 4px solid #9452F7;
}
nav .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
nav .more-btn {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 25px;
  top: 19px;
  background-color: #17161C;
  border-radius: 50%;
}

.nav-padding {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.status-bar {
  background-color: #17161C;
  overflow: hidden;
}
.status-bar .status-item {
  flex-shrink: 0;
  width: fit-content;
  padding: 0 25px;
  height: 58px;
  margin-right: 40px;
}
.status-bar .status-item span {
  font-size: 15px;
}
.status-bar .status-item.odd {
  background-color: #1A1A22;
}
.status-bar .status-item.even {
  background-color: #17161C;
}
.status-bar .status-item .label {
  margin-right: 20px;
}
.status-bar .status-item .score, .status-bar .status-item .symbol {
  margin-right: 10px;
}

.color-green {
  color: #3CD660 !important;
}

.color-dark {
  color: #79798C !important;
}

.color-red {
  color: #BE3D2C !important;
}

@media (min-width: 992px) {
  nav .navbar-nav {
    margin-left: 400px;
  }
}
@media (min-width: 1200px) {
  nav .navbar-nav {
    margin-left: 655px;
  }
}
@media (min-width: 1400px) {
  nav .navbar-nav {
    margin-left: 855px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
  nav .navbar-nav {
    margin-left: 1055px;
  }
}
