.color-green {
  color: #3CD660 !important;
}

.color-dark {
  color: #79798C !important;
}

.color-red {
  color: #BE3D2C !important;
}

.color-purple {
  color: #9452F7 !important;
}

.color-bright {
  color: #F2F2F5 !important;
}

.color-blue {
  color: #1FA8D1 !important;
}

.nav-padding {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

body {
  font-family: Inter;
  background-color: #1E1E1E;
}
body * {
  color: #FFFFFF;
}

nav {
  height: 99px;
  background-color: #09090A;
}
nav * {
  color: #FFFFFF !important;
}
nav .navbar-brand {
  position: absolute;
  width: 151px;
  height: 39px;
  left: 25px;
  top: 30px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  font-style: normal;
}
nav .navbar-brand:hover {
  color: #79798C;
}
nav .navbar-nav .nav-item.active {
  border-bottom: 4px solid #9452F7;
}
nav .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
nav .more-btn {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 25px;
  top: 19px;
  background-color: #17161C;
  border-radius: 50%;
}

@media (min-width: 992px) {
  nav .navbar-nav {
    margin-left: 400px;
  }
}
@media (min-width: 1200px) {
  nav .navbar-nav {
    margin-left: 655px;
  }
}
@media (min-width: 1400px) {
  nav .navbar-nav {
    margin-left: 855px;
  }
}
@media (min-width: 1600px) {
  nav .navbar-nav {
    margin-left: 1055px;
  }
}
.status-bar {
  background-color: #17161C;
  overflow: hidden;
}
.status-bar .status-item {
  flex-shrink: 0;
  width: fit-content;
  padding: 0 25px;
  height: 58px;
  margin-right: 40px;
}
.status-bar .status-item span {
  font-size: 15px;
}
.status-bar .status-item.odd {
  background-color: #1A1A22;
}
.status-bar .status-item.even {
  background-color: #17161C;
}
.status-bar .status-item .label {
  margin-right: 20px;
}
.status-bar .status-item .score, .status-bar .status-item .symbol {
  margin-right: 10px;
}

.content {
  padding-top: 30px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 73px;
  background-color: #09090A;
}
.content .feed-data {
  background-color: #17161C;
  margin-right: 30px;
  width: 850px;
  padding: 0 21px;
}
.content .feed-data h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-color: #F2F2F5;
  padding-top: 26px;
  padding-bottom: 25px;
}
.content .feed-data .feed-list {
  height: 565px;
  overflow: scroll;
}
.content .feed-data .feed-list::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content .feed-data .feed-list .feed-item {
  margin-bottom: 8px;
}
.content .feed-data .feed-list .feed-item .user-data {
  padding: 15px 20px 18px 17.5px;
  width: 309px;
  margin-right: 1px;
  background-color: #1D1D26;
}
.content .feed-data .feed-list .feed-item .user-data .user-name {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 7px;
}
.content .feed-data .feed-list .feed-item .user-data .user-time {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.content .feed-data .feed-list .feed-item .user-data .avatars {
  margin-top: 17px;
}
.content .feed-data .feed-list .feed-item .user-data .avatars .user-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.content .feed-data .feed-list .feed-item .user-data .button {
  width: 36px;
  height: 40px;
}
.content .feed-data .feed-list .feed-item .user-data .button.create-some {
  background-color: #282836;
}
.content .feed-data .feed-list .feed-item .user-data .button.create-some .bi-plus {
  font-size: 28px;
}
.content .feed-data .feed-list .feed-item .user-data .button.drop-down {
  background-color: #353547;
}
.content .feed-data .feed-list .feed-item .user-data .button.drop-down .bi-chevron-down {
  font-size: 12px;
}
.content .feed-data .feed-list .feed-item .info-data {
  padding: 20px 20px 17px 0;
  width: 499px;
  background-color: #1D1D26;
}
.content .feed-data .feed-list .feed-item .info-data .score-data {
  padding-left: 21px;
  padding-bottom: 17px;
  border-bottom: 1px solid #17161C;
  height: 35px;
}
.content .feed-data .feed-list .feed-item .info-data .score-data .score {
  font-size: 15px;
  font-weight: 500;
}
.content .feed-data .feed-list .feed-item .info-data .score-data .nft-percent {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.content .feed-data .feed-list .feed-item .info-data .info-table {
  padding-left: 21px;
  padding-top: 7px;
}
.content .feed-data .feed-list .feed-item .info-data .info-table table {
  height: 41px;
}
.content .feed-data .feed-list .feed-item .info-data .info-table table tbody::before {
  content: "";
  display: block;
  height: 8px;
}
.content .feed-data .feed-list .feed-item .info-data .info-table table tbody td {
  font-size: 15px;
  line-height: 18px;
}
.content .feed-data .feed-list .feed-item .info-data .info-table table tbody td:last-child {
  text-align: right;
  font-weight: 700;
}
.content .feed-data .feed-list .feed-item .info-data .info-table table th {
  font-size: 12px;
  line-height: 15px;
}
.content .feed-data .feed-list .feed-item .info-data .info-table table th:first-child {
  width: 140px;
}
.content .feed-data .feed-list .feed-item .info-data .info-table table th:last-child {
  text-align: right;
}
.content .bar-data {
  background-color: #17161C;
  width: 410px;
  height: 640px;
}
.content .bar-data .tab-menu {
  height: 55px;
  padding: 12px 20px;
  background-color: #1D1D26;
}
.content .bar-data .tab-menu .tab-btn {
  padding: 8px 20px;
  background-color: #17161C;
  border-radius: 31px;
  border: none;
  height: 31px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
.content .bar-data .tab-menu .tab-btn.more-btn {
  width: 31px;
  border-radius: 50%;
  padding: 8px 10px;
}
.content .bar-data .tab-menu .tab-btn.active {
  color: #17161C !important;
  background-color: #F2F2F5;
}
.content .bar-data .bar-info {
  padding: 21px;
}
.content .bar-data .bar-info .title {
  padding-top: 8px;
  padding-bottom: 7px;
}
.content .bar-data .bar-info .title span {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.content .bar-data .bar-info .bar-list .bar-item {
  padding-top: 33px;
}
.content .bar-data .bar-info .bar-list .bar-item .row {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 18px;
}
.content .bar-data .bar-info .bar-list .bar-item .row .score-label {
  font-weight: 500;
}
.content .bar-data .bar-info .bar-list .bar-item .row .score-value {
  font-weight: 700;
}
.content .bar-data .bar-info .bar-list .bar-item .progress {
  background-color: #282836;
}
.content .bar-data .bar-info .bar-list .bar-item .progress .progress-bar {
  background-color: #1FA8D1;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}
